//IMPORTADOS
@import "header";
@import "animaciones";

//VAR COLOR
$fondobloque: #343a40;

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(180deg, #694742 0, #67413e 10%, #64393b 20%, #613137 30%, #5e2934 40%, #591f32 50%, #541530 60%, #4e0a30 70%, #480130 80%, #410031 90%, #3a0033 100%);
    background-size: cover;
}


/* BODY, ARTICULOS Y PARRAFOS */

.tituloarticle{
    background-color: white;
    padding: 10px;
    text-align:center;
    font-size: 40px;
    text-transform: uppercase;

    .tituloArticleAnimado::selection{
        letter-spacing: 4px;
        font-family: 'Atkinson Hyperlegible', sans-serif; 
    }
}

.parrafo{ 
    background-color:#343a40;
    color: white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 30px;
    font-size: 20px;
}

.parrafoAside{
    @extend .parrafo;
}

#articlePrincipal{
    background-color: #343a40;
    position: relative;
    margin: 100px 100px 50px 100px;
}

#articleAside{
    position: relative;
    margin-top: 100px;

}

/* FOOTER */

footer{
    
}

.menuRedes{
    display: flex;
    align-content: center;
    list-style-type: none;
    list-style-position: inside;
    list-style-type: none;
}

.iconRedes{
    @extend .menuRedes;
    align-content: center;
    justify-content: center;
}