//IMPORTADOS
@import "grid";
@import "header";
@import "animaciones";

//VAR COLOR
$fondobloque: #343a40;

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(180deg, #694742 0, #67413e 10%, #64393b 20%, #613137 30%, #5e2934 40%, #591f32 50%, #541530 60%, #4e0a30 70%, #480130 80%, #410031 90%, #3a0033 100%);
    background-size: cover;
}


/* BODY, ARTICULOS Y PARRAFOS */

.tituloarticle{
    background-color:#343a40;
    padding: 10px;
    text-align:center;

    .tituloArticleAnimado::selection{
        font-size: 30px;
        
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: 'Atkinson Hyperlegible', sans-serif; 
    }
}

h2::selection{
    background-image: radial-gradient(circle at 50% -20.71%, #ffac6c 0, #ff9d6f 12.5%, #ff8d71 25%, #f17d70 37.5%, #d86c6c 50%, #be5d67 62.5%, #a75162 75%, #93475d 87.5%, #82405a 100%);
}


.parrafo{ 
    background-color:#343a40;
    color: white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 30px;
}

.parrafoAside{
    @extend .parrafo;
}

#articlePrincipal{
    background-color: #343a40;
    position: relative;
    height: 100%;
    margin: 150px 100px 50px 100px;
}

#articleAside{
    background-color: #343a40;
    position: relative;
    top: 0px;
}

/* FOOTER */

footer{
    grid-area: footer;
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #E8D6CB;
    align-content: center;
}

.menuRedes{
    align-content: center;
    list-style-type: none;
    list-style-position: inside;
    list-style-type: none;
}

.tituloarticleFooter{
    background-color: #E8D6CB;
    font-size: 20px;
    color: #5d2e46;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Abril Fatface', cursive;
    width: 100%;
}
