@media only screen and (max-width: 480px) {
  #grid {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "aside" "article" "footer"; } }

@media only screen and (max-width: 700px) {
  #grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "nav aside" "nav aside" "article article" "footer footer"; } }

@media only screen and (max-width: 1020px) {
  #grid {
    grid-template-areas: "header header header" "nav article aside" "footer footer footer";
    grid-template-columns: 20% 2fr 300px;
    grid-row-gap: none;
    gap: 10px;
    align-items: stretch; } }

#grid {
  display: grid;
  grid-template-areas: "nav nav" "header header" "article aside" "footer footer";
  grid-template-columns: 2fr 300px;
  grid-row-gap: none;
  column-gap: 10px;
  align-items: stretch; }

aside {
  grid-area: aside;
  align-items: center; }

article {
  grid-area: article; }

header {
  grid-area: header;
  width: auto; }

.tituloprincipal {
  background-color: #E8D6CB;
  width: 100%;
  text-align: right;
  padding: 10px; }
  .tituloprincipal .tituloPrincipalAnimado {
    font-family: 'Abril Fatface', cursive;
    color: #D0ADA7;
    font-size: 2em;
    text-transform: uppercase; }

/* NAV*/
nav {
  grid-area: nav;
  width: 100%; }
  nav ul li {
    text-decoration: none;
    letter-spacing: 4px;
    font-family: 'Abril Fatface', cursive;
    padding: 10px; }

.nav__menu {
  list-style-position: inside;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.7em;
  background-color: #E8D6CB; }

a {
  text-decoration: none;
  color: #AD6A6C; }

ul li:hover {
  background-color: white;
  color: #AD6A6C;
  animation: pulse;
  animation-duration: 2s; }

ul {
  list-style-type: none; }

.tituloArticleAnimado {
  font-size: 20px;
  color: #a59fa2;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Abril Fatface', cursive; }

.tituloArticleAnimado:hover {
  animation: fadeIn;
  animation-duration: 2s; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(/imagenes/fondo.jpg);
  background-repeat: repeat;
  background-size: cover; }

/* BODY, ARTICULOS Y PARRAFOS */
.tituloarticle {
  background-color: #E8D6CB;
  padding: 10px; }

.parrafo, .parrafoAside {
  background-color: white;
  color: #b58db6;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  padding: 30px; }

#articlePrincipal {
  background-color: white;
  position: relative;
  height: 100%; }

#articleAside {
  background-color: white;
  position: relative;
  top: 0px; }

.asideImg {
  opacity: 0.65; }
  .asideImg img:hover {
    opacity: 1; }

/* FOOTER */
footer {
  grid-area: footer;
  flex-direction: column;
  width: 100%;
  background-color: #E8D6CB;
  align-items: center; }

.menuRedes {
  display: flex;
  align-content: space-between;
  list-style-position: inside;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  list-style-position: inside;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px; }

.tituloarticleFooter {
  background-color: #E8D6CB;
  font-size: 20px;
  color: #5d2e46;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Abril Fatface', cursive;
  width: 100%; }

/* TABLA TIENDA*/
.headerTabla {
  background-color: #5d2e46;
  font-size: 20px; }

.cuerpoTabla {
  background-color: #b3b3b3;
  width: 100%; }
