header {
  grid-area: header;
  width: auto; }

.tituloprincipal {
  background-color: #E8D6CB;
  width: 100%;
  text-align: right;
  padding: 10px; }
  .tituloprincipal .tituloPrincipalAnimado {
    font-family: 'Abril Fatface', cursive;
    color: #D0ADA7;
    font-size: 2em;
    text-transform: uppercase; }

/* NAV*/
nav {
  grid-area: nav;
  width: 100%; }
  nav ul li {
    text-decoration: none;
    letter-spacing: 4px;
    font-family: 'Abril Fatface', cursive;
    padding: 10px; }

a {
  text-decoration: none;
  color: #AD6A6C;
  text-transform: uppercase; }

ul li:hover {
  background-color: white;
  color: #AD6A6C;
  animation: pulse;
  animation-duration: 2s; }

ul {
  list-style-type: none; }

.navlogo {
  width: 300px; }

.tituloArticleAnimado:hover {
  animation: fadeIn;
  animation-duration: 2s; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(180deg, #694742 0, #67413e 10%, #64393b 20%, #613137 30%, #5e2934 40%, #591f32 50%, #541530 60%, #4e0a30 70%, #480130 80%, #410031 90%, #3a0033 100%);
  background-size: cover; }

/* BODY, ARTICULOS Y PARRAFOS */
.tituloarticle {
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase; }
  .tituloarticle .tituloArticleAnimado::selection {
    letter-spacing: 4px;
    font-family: 'Atkinson Hyperlegible', sans-serif; }

.parrafo, .parrafoAside {
  background-color: #343a40;
  color: white;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  padding: 30px;
  font-size: 20px; }

#articlePrincipal {
  background-color: #343a40;
  position: relative;
  margin: 100px 100px 50px 100px; }

#articleAside {
  position: relative;
  margin-top: 100px; }

/* FOOTER */
.menuRedes, .iconRedes {
  display: flex;
  align-content: center;
  list-style-type: none;
  list-style-position: inside;
  list-style-type: none; }

.iconRedes {
  align-content: center;
  justify-content: center; }
